.favts{
    background-color:rgba(118, 201, 183, 0.158);
   

    
}

.favt-item{
    height: 300px;
    border: solid black 2px;
    margin: 5px;
    padding: 10px;
    width: 250px;
}

.favts>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}